@use '../../../styles' as *;

$width-image-1: 174px;
$width-image-2: 112px;
$width-image-3: 300px;
$width-image-4: 210px;

.wrapper {
    .main-banner {
        @include flex-center();

        position: relative;
        width: 100%;
        height: 580px;

        .content {
            display: flex;
            flex-direction: column;

            justify-content: center;

            width: 856px;
            padding: 80px 0 64px 0;

            .text-wrapper {
                h2 {
                    font-size: 6rem;
                    margin-bottom: 32px;
                }

                p {
                    @include text-400();
                    margin-bottom: 32px;
                }
            }

            .button-wrapper {
                @include flex-center();
            }
        }

        .let-sell-btn {
            background-color: $text-color;
            color: #fff;
            border-radius: 15px;
        }

        .background {
            position: absolute;
            &.bg-shape-1 {
                left: 53px;
                top: 5px;
            }
            &.bg-shape-2 {
                right: 167px;
                top: 67px;
            }
            &.bg-shape-3 {
                left: -16px;
                top: 298px;
            }
            &.bg-shape-4 {
                right: 33px;
                top: 387px;
            }

            .image-1 {
                width: $width-image-1;
            }
            .image-2 {
                width: $width-image-2;
            }
            .image-3 {
                width: $width-image-3;
            }
            .image-4 {
                width: $width-image-4;
            }
        }
    }
    .sub-banner {
        @include flex-center();

        height: 120px;

        .logo-item {
            margin: 0 20px;
        }
    }
}
