@use '../../../styles/' as *;

.wrapper {
    padding: 80px 0;
    .section-head {
        margin-bottom: 80px;

        .title {
            margin-bottom: 24px;

            @include text-title();
            text-align: center;
        }
    }

    .section-body {
        columns: 3;
        gap: 32px;
    }
}
