.wrapper {
    padding: 80px 0;
    .section-head {
        margin-bottom: 80px;

        .title {
            margin-bottom: 24px;

            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 4.8rem;
            text-align: center;
        }
    }

    .section-body {
        // display: grid;
        // grid-template-columns: repeat(3, minmax(100px, 1fr));
        // gap: 32px;

        columns: 3;

        gap: 32px;
    }
}
