.wrapper {
    &:hover {
        box-shadow: 0px 0px 12px #ccc;
        cursor: pointer;
    }

    padding: 8px;
    border-radius: 4px;

    .card-image {
        .image {
            width: 100%;
            object-fit: cover;
        }
    }
    .card-body {
        margin: 16px 0;

        .title {
            text-align: center;

            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 2.6rem;
        }
        .description {
            text-align: center;
            color: #532c59;
            font-size: 1.8rem;
        }
    }
}
