@use '../../styles' as *;

.wrapper {
    .card-avatar {
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar {
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .card-body {
        margin: 16px 0;

        .title {
            text-align: center;

            @include text-large-500();
        }
        .position {
            text-align: center;
            color: $text-color;
            font-size: 1.8rem;
        }
    }
}
