.wrapper {
    // display: flex;
    padding: 80px 0;
    display: grid;
    grid-template-columns: 33.3333% auto;
    grid-auto-rows: max-content;
    gap: 32px;

    .section-left {
        margin-bottom: 80px;

        .title {
            margin-bottom: 24px;

            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 4.8rem;
            text-align: center;
        }
        .sub-title {
            color: #532c59;
            font-size: 1.6rem;
            font-family: 'Space Grotesk', sans-serif;
        }
    }

    .section-right {
        columns: 2;

        gap: 32px;
    }
}
