@use '../../../styles' as *;

.wrapper {
    padding: 80px 0;
    display: grid;
    grid-template-columns: 33.3333% auto;
    grid-auto-rows: max-content;
    gap: 32px;

    .section-left {
        margin-bottom: 80px;

        .title {
            margin-bottom: 24px;

            @include text-title();
            text-align: center;
        }
        .sub-title {
            @include text();
        }
    }

    .section-right {
        columns: 2;
        gap: 32px;
    }
}
