@use '../../../styles' as *;

.wrapper {
    .section-head {
        @include flex-center-column();

        width: 100%;
        margin-bottom: 64px;

        .title,
        .descriptions {
            text-align: center;
            width: 60%;
        }

        .title {
            @include text-title();
        }
        .descriptions {
            @include text-400();
        }
    }
    .section-body {
        display: grid;
        grid-template-columns: repeat(3, auto);
        row-gap: 64px;
        column-gap: 32px;
        gap: auto;
        // align-items: center;
        justify-content: center;
        align-items: center;
    }
}
