.wrapper {
    padding: 80px 70px 40px 70px;

    .top-wrapper {
        display: flex;
        justify-content: space-between;

        .services {
            display: flex;

            .link {
                opacity: 0.5;
                font-size: 1.6rem;
                font-weight: 500;

                &:not(:last-child) {
                    margin-right: 24px;
                }

                &:hover {
                    cursor: pointer;

                    color: #532c59;
                    opacity: 1;
                }
            }
        }
    }
    .separator {
        margin: 40px 0;

        width: 100%;
        height: 1px;

        border: 1px solid #ccd5df;
    }

    .bottom-wrapper {
        text-align: center;
        opacity: 0.5;
        font-size: 1.4rem;
        font-weight: 400;
    }
}
