@use '../../../styles' as *;

.wrapper {
    padding: 80px 0;

    .section-head {
        @include flex-center-column();

        width: 100%;
        margin-bottom: 80px;

        .title,
        .descriptions {
            text-align: center;
            width: 60%;
        }

        .title {
            @include text-title();
            margin-bottom: 24px;
        }
        .descriptions {
            @include text-400();
        }
    }
    .section-body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
